<a href="https://colab.research.google.com/github/padmasai121/learningpython/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("PadmaSai")

PadmaSai

In [ ]:
print("sai","kallu","danu",121)

sai kallu danu 121

In [ ]:
i=6
print(i)
type(i)

6

int

In [ ]:
i="paddu"
print(i)
type(i)

paddu

str

In [ ]:
my_f=65.3
print(my_f)
type(my_f)

65.3

float

In [ ]:
my_bool=True
print(my_bool)
print(type(my_bool))

True
<class 'bool'>

In [ ]:
my_none=None
print(my_none)
print(type(my_none))

None
<class 'NoneType'>

In [ ]:
name=input("enter your name:")
print(name)
print(type(name))

enter your name:padma
padma
<class 'str'>

In [ ]:
num='9'
print(type(num))
num=int(num)
print(type(num))

<class 'str'>
<class 'int'>

In [ ]:
age=int(input("what's your age ? "))
print(age)
print(type(age))

what's your age ? 57
57
<class 'int'>

In [ ]:
number1=12
number2=3
add==number1+number2
sub=number1-number2
mul=number1*number2
div=number1/number2
f_div=number1//number2
exp=number1**number2
mod=number1%number2
print("number1+number2=",add)
print("number1-number2=",sub)
print("number1number2=",mul)
print("number1/number2=",div)
print("number1//number2=",f_div)
print("number1**number2=",exp)
print("number1%number2=",mod)

number1+number2= 167
number1-number2= 9
number1number2= 36
number1/number2= 4.0
number1//number2= 4
number1**number2= 1728
number1%number2= 0

In [ ]:
no1=12
no2=5
print("a>b:",no1>no2)
print("a<b:",no1<no2)
print("a==b:",no1==no2)
print("a!=b:",no1!=no2)

a>b: True
a<b: False
a==b: False
a!=b: True

In [ ]:
no1=12
no2=5
print((no1>no2)and(no1<no2))
print((no1>no2)or(no1<no2))
print( not False)
print(no1&no2)
print(no1|no2)

False
True
True
4
13

In [ ]:
"good" in "good morning"

True

In [ ]:
age=int(input())
print("enter your age:",age)
if(age>=18):
  print("you're eligible to vote.")
else:
  print("grow up first.")

34
enter your age: 34
you're eligible to vote.

In [ ]:
age=int(input())
print("enter your age:",age)
if(age>=18):
  print("you're eligible to vote.")
elif(age>=15):
  print("grow up first.")
else:
  print("go home kid.")

5
enter your age: 5
go home kid.

In [2]:
i=1
while (i<=20):
  if(i%2==0):
    print(i,end=", ")
  i=i+1

2, 4, 6, 8, 10, 12, 14, 16, 18, 20,

In [4]:
for i in range(1,21):
  if(i%2==0):
    print(i,end=", ")

2, 4, 6, 8, 10, 12, 14, 16, 18, 20,

In [5]:
for i in range(2,21,2):
  print(i, end=" ")

2 4 6 8 10 12 14 16 18 20

In [6]:
n=9
for i in range(1,11):
  print(n, "x", i,"=",i*n)

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [7]:
for i in range(1,10):
  if(i==5):
    break
  print(i)

1
2
3
4

In [8]:
for i in range(1,10):
  if(i==5):
    continue
  print(i)

1
2
3
4
6
7
8
9

In [1]:
my_str="welcome to the course"
print(my_str)
print(type(my_str))

welcome to the course
<class 'str'>

In [4]:
print(my_str[0])
print(my_str[1])
print(my_str[2])
print(my_str[3])
print(my_str[4])
print(my_str[5])
print(my_str[6])

w
e
l
c
o
m
e

In [7]:
print(len(my_str))
print(my_str[len(my_str)-2])

21
s

In [8]:
print(my_str[-1])
print(my_str[-5])

e
o

In [9]:
print(my_str[2:7])
print(my_str[:])
print(my_str[:-1])

lcome
welcome to the course
welcome to the cours

In [17]:
print(my_str)
print(my_str.lower())
print(my_str.upper())
print(my_str.title())
print(my_str.find("come"))
print(my_str.split(" "))

welcome to the course
welcome to the course
WELCOME TO THE COURSE
Welcome To The Course
3
['welcome', 'to', 'the', 'course']

In [22]:
"abc "+" pqr"
"abc"+str(1)
"hello"*4

'hellohellohellohello'

In [23]:
my_list=[5,6,2,6,3]
print(my_list)
type(my_list)

[5, 6, 2, 6, 3]

list

In [24]:
print(my_list[0])
print(my_list[-1])
print(my_list[1:-1])

5
3
[6, 2, 6]

In [25]:
my_list[0]=99
print(my_list)

[99, 6, 2, 6, 3]

In [42]:
my_list.append(99)
print(my_list)

[33, 88, 88, 88, 99, 88, 88, 6, 2, 6, 3, 33, 88, 33, 33, 33, 33, 33, 99, 99, 99]

In [47]:
my_list.sort()
print(my_list)
my_list.sort(reverse=True)
print(my_list)
1 in my_list

[2, 3, 6, 6, 33, 33, 33, 33, 33, 33, 33, 88, 88, 88, 88, 88, 88, 99, 99, 99, 99]
[99, 99, 99, 99, 88, 88, 88, 88, 88, 88, 33, 33, 33, 33, 33, 33, 33, 6, 6, 3, 2]

False

In [48]:
for ele in my_list:
  print(ele**2)

9801
9801
9801
9801
7744
7744
7744
7744
7744
7744
1089
1089
1089
1089
1089
1089
1089
36
36
9
4