<a href="https://colab.research.google.com/github/padmasai121/learningpython/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("PadmaSai")

PadmaSai

In [4]:
print("sai","kallu","danu",121)

sai kallu danu 121

In [5]:
i=6
print(i)
type(i)

6

int

In [6]:
i="paddu"
print(i)
type(i)

paddu

str

In [8]:
my_f=65.3
print(my_f)
type(my_f)

65.3

float

In [10]:
my_bool=True
print(my_bool)
print(type(my_bool))

True
<class 'bool'>

In [11]:
my_none=None
print(my_none)
print(type(my_none))

None
<class 'NoneType'>

In [12]:
name=input("enter your name:")
print(name)
print(type(name))

enter your name:padma
padma
<class 'str'>

In [13]:
num='9'
print(type(num))
num=int(num)
print(type(num))

<class 'str'>
<class 'int'>

In [14]:
age=int(input("what's your age ? "))
print(age)
print(type(age))

what's your age ? 57
57
<class 'int'>

In [19]:
number1=12
number2=3
add==number1+number2
sub=number1-number2
mul=number1*number2
div=number1/number2
f_div=number1//number2
exp=number1**number2
mod=number1%number2
print("number1+number2=",add)
print("number1-number2=",sub)
print("number1number2=",mul)
print("number1/number2=",div)
print("number1//number2=",f_div)
print("number1**number2=",exp)
print("number1%number2=",mod)

number1+number2= 167
number1-number2= 9
number1number2= 36
number1/number2= 4.0
number1//number2= 4
number1**number2= 1728
number1%number2= 0

In [20]:
no1=12
no2=5
print("a>b:",no1>no2)
print("a<b:",no1<no2)
print("a==b:",no1==no2)
print("a!=b:",no1!=no2)

a>b: True
a<b: False
a==b: False
a!=b: True

In [2]:
no1=12
no2=5
print((no1>no2)and(no1<no2))
print((no1>no2)or(no1<no2))
print( not False)
print(no1&no2)
print(no1|no2)

False
True
True
4
13

In [24]:
"good" in "good morning"

True

In [6]:
age=int(input())
print("enter your age:",age)
if(age>=18):
  print("you're eligible to vote.")
else:
  print("grow up first.")

34
enter your age: 34
you're eligible to vote.

In [9]:
age=int(input())
print("enter your age:",age)
if(age>=18):
  print("you're eligible to vote.")
elif(age>=15):
  print("grow up first.")
else:
  print("go home kid.")

5
enter your age: 5
go home kid.